.service-page-wrapper{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    position: relative;
}
.service-page-wrapper::before{
    background: rgba(0,0,0,.52);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
}
img{
    max-width: 100%;
}
.service-page-thumb-wrapper{
    position: relative;
}
.service-page-thumb-wrapper ul{
    display: flex;
    padding: 0;
}
.service-page-thumb-wrapper ul li{
    color: white;
    margin-left: 4px;
    list-style: none;
}
.service-page-thumb-wrapper ul li a{
    text-decoration: none;
    color: white;
}
.service-page-thumb-wrapper span{
    color: white;
    padding-left: 5px;
}
.service-page-thumb-wrapper h3{
    font-weight: 700;
    font-size: 44px;
    color: white;
    padding-left: 1px;
}
.service-page-thumb{
    right: 110px;
    width: auto;
}