.about-us-services-content-wrapper h3{
    font-size: 44px;
    font-weight: 700;
}
.services2-content-wrapper{
    padding: 0 90px 30px 0;
}
.services2-icon-wrapper{
    border: 1px solid orange;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: #97b1af;
}
.services2-content-wrapper h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}
.service2-wrapper{
    margin-top: 30px;
    transform: translateY(-10px);
}
.service2-wrapper:hover{
    transition: all linear 0.3s;
    margin-top: 20px;
}
.services2-content-wrapper p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #505056;
    margin: 0px;
}