.sponsors-wrapper{
    padding: 25px 0;
    position: relative;
}
.sponsor-section-heading-wrapper h3{
    font-weight: 900;
    font-size: 34px;
}
.sponsor-wrapper{
    background: #fff;
    height: 100px;
    width: 100px;
    padding-top: 25px;
    text-align: center;
    box-shadow: 0px 40px 60px 0px rgba(14, 17, 51, 0.14);
    margin: 30px 16px 0;
}
.sponsors-wrapper .sponsor-shape-position{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
}