.header-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: top 0.3s;
    background-color: white;
    max-width: 100%;
}
.nav-item-link>p{
    color: black;
}
.nav-link>span{
    color: black;
}
.nav-link>span:hover{
    color: black;
}
.nav-dropdown-link > li >a{
    color: black;
}
.nav-dropdown-link > li >a:hover{
    color: black;
}
.nav-dropdown-link li .nav-link {
    /* Define the styles for the link title */
    /* For example, you can set the initial background color and transition properties */
    transition: all 3s ease-out .3s;
  }
.nav-dropdown-link li:hover .dropdown-menu {
    /* Define the styles for the dropdown menu when hovering over the link title */
    /* For example, you can change the display and visibility properties */
    display: block;
    visibility: visible;
  }
.logo-link img{
    width: 120px;
    margin-top: 20px;
}
