.features-wrapper{
    padding: 64px 0;
    max-width: 100%;
}
.single-feature-wrapper{
    display: flex;
}
.feature-icon-wrapper span{
    background-color:#7a86df62;
    border-radius: 50%;
    padding: 10px;
}
.feature-title-wrapper span{
    font-weight: 700;

}