.project-area-wrapper{
    padding-top: 35px;
    padding-bottom: 50px;
}
.project-section-wrapper{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 70px 0 70px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-width: 100%;
}
.project-section-content h3{
    font-weight: 700;
    font-size: 44px;
    color: white;
}
.project-section-content p{
    color: white;
}
.email-btn-syle{
    width: 120px;
    background-color: black;
    color: white;
}
.email-btn-syle:hover{
    background-color: black;
    color: white;
}
.input-tab-style{
    display: flex;
}
.project-thumb img{
    width: 100%;
}
.project-btn-style{
    text-decoration: none;
    color: white;
}
