.team-section-wrapper{
    padding: 100px 0;
}

.team-heading-wrapper h3{
    font-weight: 700;
    font-size: 44px;
}
.team-member-wrapper{
    padding: 50px 0;
}
.team-member-image-wrapper img{
    max-width: 100%;
}
.team-member-wrapper .team-member-image-wrapper{
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.team-member-wrapper .team-member-image-wrapper img{
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.team-member-wrapper:hover .team-member-image-wrapper img{
    transform: scale(1.1);
}

.team-member-wrapper:hover .team-member-image-wrapper::before{
    opacity: 0.5;
}
.team-member-wrapper .team-member-image-wrapper::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 9;
    opacity: 0;
    transition: all 0.3s ease-out 0s;
}
.team-member-wrapper .team-member-image-wrapper ul{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 11;
    opacity: 0;
    visibility: visible;
    transition: all 0.3s ease-out 0s;
}
.team-member-wrapper .team-member-image-wrapper ul li{
    margin: 0 3px;
    display: inline-block;
}
.team-member-wrapper .team-member-image-wrapper ul li a{
    display: inline-block;
    height: 36px;
    width: 36px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 36px;
    border-radius: 50px;
    color: #fff;
}