.team-section-wrapper{
    padding: 90px 0 89px;
    max-width: 100%;
}

.team-heading-wrapper h3{
    font-weight: 700;
    font-size: 44px;
}
.team-members-wrapper{
    padding-top: 26px;
}
.team-member-wrapper{
    padding-top: 20px;
    background-color: #021327;
    margin-bottom: 10px;
}
.team-member-wrapper:hover{
    background: linear-gradient(220deg, #533efe, #740fd6);
}
.team-member-image-wrapper img{
    padding: 30px;
    max-width: 100%;
    border-radius: 50%;
}
.team-member-wrapper .team-member-image-wrapper{
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.team-member-wrapper .team-member-image-wrapper img{
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.team-member-content-wrapper h5{
    font-weight: 700;
    color: white;
}
.team-member-content-wrapper span{
    color: white;
}
.team-member-social-links ul{
    display: flex;
    justify-content: space-around;
}
.team-member-social-links ul li{
    list-style: none;
}
.team-member-social-links ul li a{
    padding: 10px;
    border: 1px solid white;
    background-color: #1f3654;
    transition: all 3s ease-out 0s;
    border-radius: 50%;
}
.team-member-social-links ul li a:hover{
    background: linear-gradient(220deg, #533efe, #740fd6);
}
.team-button-wrapper{
    margin-top: 50px;
}
