.traffic-area-wrapper{
    background-color: #EEF1F6;
    padding: 50px 0;
    max-width: 100%;
}
.traffic-area-text-wrapper span{
    color: #5653b1;
}
.traffic-area-text-wrapper{
    margin-bottom: 50px;
}
.title{
    font-weight: 700;
    font-size: 30px;
}
.traffic-item-text-wrapper{
    margin-left: 10px;
}
.traffic-item-icon-wrapper{
    margin-top: 10px;
}
.traffic-item-text-wrapper h5{
    font-weight: 700;
}
.traffic-item-icon-wrapper span{
    background-color:#5653b1;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 6px 10px 0px rgba(16, 73, 189, 0.3);

}
.traffic-item-wrapper{
    display: flex;
}
.secondary-btn{
    background: transparent;
    color: #0e1133;
    border: 2px solid #e7eaef;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.4s ease-out 0s;
    margin-bottom: 10px;
}
.secondary-btn:hover{
    background-color: #5653b1;
    color: white;
    text-decoration: none;
}
.traffic-tablet-image img{
    width: 100%;
}