.team-page-background{
    margin-top: 50px;
    padding: 100px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.team-page-background::before{
    background: rgba(0,0,0,.52);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
}
.team-page-background{
    text-align: center;
}
.team-page-background span{
    font-size: 34px;
    font-weight: 900;
    color: white;
    position: relative;
    
}
.team-page-breadcrumb ul{
    display: flex;
    justify-content: center;
    position: relative;
}
.team-page-breadcrumb ul li{
    margin-right: 5px;
    color: white;
    list-style: none;
}
.team-page-breadcrumb ul li a{
    color: white;
    text-decoration: none;
}
.team-member-page-single-content-wrapper{
    border: 1px solid lightgrey;
    padding: 10px 0;
    width: 270px;
}
.team-member-page-single-content-wrapper a{
    text-decoration: none;
    color: black;
}
.team-member-page-single-content-wrapper h5{
    font-weight: 700;
}
.team-members-page-section-wrapper{
    padding: 100px 0 41px;
}
.team-member-single-social-links{
    padding: 20px 0;
}
.team-member-single-item-wrapper{
    margin-bottom: 50px;
    width: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.team-member-single-social-links ul{
    display: flex;
    justify-content: center;
    padding: 0;
}
.team-member-single-social-links ul li{
    list-style: none;
    margin-right: 5px;
}
.team-member-single-social-links ul li a{
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease-out 0s ;
}
