.testimonial-section-wrapper{
    padding-bottom: 65px;
}
.testimonial-upper-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.testimonial-upper-content-wrapper h3{
    font-weight: 900;
    font-size:34px;
    margin-bottom: 0;
}
.testimonial-upper-content-wrapper h2{
    font-weight: 900;
    font-size: 34px;
}
.testimonial-upper-content-wrapper h2 span{
    font-size: 34px;
    color: #5653b1;
}
.testimonial-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #eee;
}
.testimonial-image-wrapper img{
    border-radius: 50%;
    width: 100px;
}
.testimonials-wrapper{
    padding-top:40px;
}
.testimonial-content-wrapper{
    padding-top: 50px;
}
.stars-wrapper span{
    margin-right: 5px;
}
.testi-name-wrapper h5{
    font-weight: 700;
}
.testi-skill-wrapper span{
    color: #5653b1;

}
.slick-dots{
    bottom: -70px;
}

@media screen and (min-width:425px) and (max-width:768px) {
    .testimonials-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    padding: 20px;
    
    }
    
}
@media screen and (min-width:768px) {
    .testimonials-wrapper{
        margin-right: 20px;
    }
    
}